/* $Id: local-sample.css 7156 2010-04-24 16:48:35Z chris $ */

/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */

html {
	height: 100%;
	background: #312D28 url(../images/bg2.jpg) repeat 0 0;
	}
body {
	color: #333;
	height: 100%;
	}
iframe html {
	background: #fff;
	}


/* structure */
#main-content .block-views,
#main-content .quicktabs_main,
body#pid-communities #main_content .views-row,
body#pid-organizations .views-row {
	background: #fff;
	margin-right: 10px;
	margin-bottom: 10px;
	border: 1px solid #b0ab9e;
	box-shadow: 3px 3px 0 #b0ab9e;
	}

/* grid adjustments for blocks */
.grid16-6 .block-views { width: 355px; }
.left_lower.grid16-8 .block-views { width: 465px; }
.right_lower.grid16-8 .block-views { width: 475px; }
.grid16-10 .block { width: 585px; }
.grid16-0 { width: 955px; }

/* block adjustments for quicktabs */
#main-content .quicktabs_main .block-views {
	border: 0;
	margin: 0;
	box-shadow: none;
	width: auto;
}

/* global */
fieldset {
	border: 0;
	}

/* links */
a:link,
a:active {
	color: #496E1C;
	}

/* header */
#header-group-wrapper {
	background: #fff;
	height: 100px;
	}
#header-group-inner {
	position: relative;
	padding-left: 205px;
	}
#header-group-inner-inner {
	padding: 5px 0;
	}
h1#site-name {
	width: 690px;
	height: 65px;
	margin: 7px 0;
	background: url(../images/title.gif) no-repeat 0 0;
	text-indent: -999em;
	}
h1#site-name a {
	display: block;
	height: 60px;
}

/* logo */
#logo {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	background-color: #24211e;
	width: 195px;
	height: 175px;
	margin: 0;
	float: none;
	}
#logo a {
	display: block;
	text-align: center;
	padding: 8px;
	}

/* nav */
#preface-top-wrapper {
	background: #496E1C;
	padding-top: 0;
	z-index: 100;
	}
#preface-top-wrapper .row {
	overflow: visible !important;
	}
#preface-top-inner {
	padding-top: 0;
	height: 40px;
	position: relative;
	}
.nav-bg-left {
	display: block;
	width: 10px;
	height: 49px;
	position: absolute;
	left: -10px;
	}
#primary-menu {
	background-color: #496E1C;
	}
#primary-menu-inner {
	background-color: #496E1C;
	}
#primary-menu.block {
	float: left;
	}
#primary-menu.block .inner {
	float: left;
	margin-left: 205px;
	}
#primary-menu ul.menu {
	border: 0;
	}
#primary-menu ul.menu li {
	margin: 0;
	padding: 0;
	background: none;
	}
#primary-menu ul.menu li a:hover
#primary-menu ul.menu li:hover a:link
#primary-menu ul.menu li:hover a:visited
#primary-menu ul.menu li.hover a:link
#primary-menu ul.menu li.hover a:visited
#primary-menu ul.menu li.active-trail a:link
#primary-menu ul.menu li.active-trail a:visited,
#primary-menu ul.menu li a:link,
#primary-menu ul.menu li a:visited {
	display: block;
	background: none;
	color: #FFF;
	font-size: 16px;
	padding: 12px 15px 9px 15px;
	text-shadow: 1px 1px 1px #222;
	background: #496E1C;
	margin: 0;
	}
#primary-menu ul.menu li.last a {
	margin-right: 0;
	}
#primary-menu ul.menu li:hover a,
#primary-menu ul.menu li.hover a,
#primary-menu ul.menu li.sfHover a {
	background: #679c25 !important;
	text-shadow: 1px 1px 1px #444;
	}
/* Second level */
#primary-menu ul.menu li:hover ul.menu,
#primary-menu ul.menu li.hover ul.menu,
#primary-menu ul.menu li.sfHover ul.menu {
	border: 0;
	font-size: 86%;
	margin-top: 12px;
	position: absolute;
	text-align: left;
	text-transform: none;
	width: 150px;
	z-index: 2;
	font-weight: normal;
	color: #fff;
	border: 0;
	background: none;
	}
#primary-menu ul.menu li:hover ul.menu li,
#primary-menu ul.menu li.hover ul.menu li,
#primary-menu ul.menu li.sfHover ul.menu li {
	background: transparent;
	border-bottom: 0;
	text-shadow: 1px 1px 1px #436816;
	padding-left: 0;
	}
#primary-menu ul.menu li:hover ul.menu li.last,
#primary-menu ul.menu li.hover ul.menu li.last,
#primary-menu ul.menu li.sfHover ul.menu li.last {
	border-bottom: 0;
	}
#primary-menu ul.menu li ul.menu li a:link,
#primary-menu ul.menu li ul.menu li a:visited {
	background: none;
	color: #222;
	padding: 5px 8px 5px 16px;
	font-size: 13px;
	text-shadow: none;
	}
#primary-menu ul.menu li ul.menu li a:hover {
	color: #fff;
	text-shadow: none;
	background-color: #4b711b;
	}

#primary-menu ul.menu li ul.menu li a.active {
	text-decoration: underline;
}

/* Third level */
#primary-menu ul.menu li:hover ul.menu li ul.menu,
#primary-menu ul.menu li.hover ul.menu li ul.menu,
#primary-menu ul.menu li ul.menu li ul.menu {
	font-size: 100%; /* 11px/12px */
	margin-left: 34px;
	margin-top: -2px;
	}

/* Primary menu - Nolink */
#primary-menu ul.menu li span.nolink  {
	background: transparent url(../images/tab-right.png) no-repeat 100% 0;
	color: #154B70;
	display: block;
	padding: 5px 10px 1px 0;
	text-decoration: none;
	}
#primary-menu ul.menu li span.nolink:hover,
#primary-menu ul.menu li span.nolink.hover,
#primary-menu ul.menu li:hover span.nolink,
#primary-menu ul.menu li.hover span.nolink,
#primary-menu ul.menu li.active-trail span.nolink {
	background-position: right -46px;
	color: #fff;
	}
#primary-menu ul.sf-menu li.sfHover ul.menu li span.nolink,
#primary-menu ul.menu li:hover ul.menu li span.nolink,
#primary-menu ul.menu li.hover ul.menu li span.nolink {
	color: #154B6F;
	padding-left: 10px;
	}
#primary-menu ul.menu li:hover ul.menu li span.nolink:hover,
#primary-menu ul.menu li.hover ul.menu li span.nolink.hover {
	color: #fff;
	}

/* search */
#search-box-inner {
	background: none;
	border: 0;
	margin-right: 0;
	padding: 0;
	}

/* content */
#main-content-inner {
	box-shadow: 0 0 10px #000;
	}
.main-wrapper {
	background: none;
	padding-top: 0;
	}
#main {
	background: none;
	}
#main-inner {
	}

/* pager */
.item-list .pager {
	text-align: left;
}
ul.pager {
	margin: 10px 0;
}

/* columns */


/* breadcrumbs */
#breadcrumbs {
	margin-top: 1em;
	}
#breadcrumbs-inner .breadcrumb {
	margin-left: 220px;
	}

/* editor tabs */
#content-tabs {
	margin: 10px 0;
	}

h1.title {
	border: 0;
	clear: left;
	font-family: "Myriad Pro", "Myriad Web Pro Regular", "Lucida Grande", Geneva, Trebuchet MS, sans-serif;
	font-size: 240%;
	font-weight: bold;
	line-height: 180%;
	margin-bottom: 5px;
	}

/* blocks */
.block-views h2 {
	margin: 10px 0;
	font-size: 18px;
}

/* tags */
.group-tags {
	
	}


/* PAGE: Homepage */

body.front #main {
	padding-top: 55px;
	}

/* welcome */
#block-block-16 {
	}
#block-block-16.block .inner {
	margin: 0;
	}
#block-block-16 h2.title {
	font-weight: normal;
	font-style: italic;
	font-size: 300%;
	line-height: 1em;
	font-family: Georgia, serif;
	text-shadow: 1px 1px 0 #fff;
	}
#block-block-16 p {
	margin: 0;
	font-size: 16px;
	line-height: 22px;
	text-shadow: 1px 1px 0 #fff;
	}

/* featured stories block */
#block-views-features-block_1 .inner {
	position: relative;
	margin: 0;
	height: 385px;
}
#block-views-features-block_1 .views-field-title,
#block-views-features-block_1 .views-field-body,
#block-views-features-block_1 a.read-more {
	position: absolute;
	left: 0;
	color: #fff;
	background-color: rgba(0,0,0,.85);
	font-weight: bold;
}
#block-views-features-block_1 .views-field-title {
	bottom: 76px;
}
#block-views-features-block_1 .views-field-title a {
	display: block;
	padding: 12px 20px;
	text-decoration: none;
	text-shadow: 1px 1px 1px #000;
	font-size: 20px;
}
#block-views-features-block_1 .views-field-title h3 {
	margin: 0;
}
#block-views-features-block_1 .views-field-body {
	bottom: 40px;
	padding: 8px 19px;
}
#block-views-features-block_1 .views-field-body p {
	margin: 0;
}
#block-views-features-block_1 .views-field-title a:hover {
	color: #fff;
	text-decoration: none;
}
#block-views-features-block_1 a.read-more {
	width: 100px;
	bottom: 10px;
	padding: 5px 12px 5px 20px;
	text-shadow: 1px 1px 1px #000;
	font-size: 14px;
}
.views-slideshow-controls-bottom {
	background-color: #496E1C;
	height: 26px;
	padding: 2px 8px;
}
.pager-item a {
	display: block;
	float: left;
	margin: 2px;
	padding: 2px 7px;
	color: #fff;
	font-weight: bold;
	border-radius: 4px;
	background-color: #74ad2d;
}
.views-slideshow-controls-bottom .activeSlide a {
	background-color: #517623;
	}

/* latest stories */
.latest-stories {
	font-size: 11px;
	}
.latest-stories h2 {
	margin-bottom: 5px;
	}
.latest-stories h3 {
	margin-bottom: 0;
	}
.latest-stories ul {
	margin: 0;
	}
.latest-stories ul li {
	list-style-type: none;
	border-top: 1px solid #ddd;
	padding: 3px 0;
	overflow: hidden;
	}
.latest-stories ul li div.views-field-field-image-fid {
	float: left;
	margin-right: 10px;
	padding: 2px;
	border: 1px solid #ddd;
	}
.latest-stories ul li img {
	vertical-align: top;
	}

/* map */
#content-region .block .inner {
	margin: 0;
}
#content-region .block {
	margin-bottom: .75em;
}


/* PAGE: Organizations & Communities */
body#pid-communities #main-content .block-views,
body#pid-organizations #main-content .block-views {
	background: none;
	border: 0;
	box-shadow: none;
}
body#pid-organizations #content-inner .views-row,
body#pid-communities #content-inner .views-row {
	float: left;
	width: 305px;
	}
body#pid-organizations #content-inner .views-row .views-field-title,
body#pid-communities #content-inner .views-row .views-field-title {
	font-size: 130%;
	font-weight: bold;
	margin-bottom: 8px;
	}
.field-field-logo {
	float: left;
	margin-right: 20px;
	padding: 4px;
	border: 1px solid #ddd;
	background: #fff;
	}
.content .field {
	margin-bottom: 4px;
	}


/*//	=MODULES */

/* quicktabs */

/* need some resets first */
.content-inner-inner .content-content .inner .content ul {
	margin: 0;
	}
.content-inner-inner .content-content .inner .content ul li {
	background: none;
	margin: 0;
	padding: 0;
	}

.quicktabs_wrapper {
	padding-bottom: 5px;
}
.quicktabs_main {
	padding:10px;
	clear: both;
	overflow: hidden;
}
ul.quicktabs_tabs {
	padding:0 5px 0 0;
	font-weight:bold;
	height: 26px;
	margin:0;
}
ul.quicktabs_tabs a {
	margin: 0 8px;
	padding: 6px 0;
	font-size: 16px;
	font-weight: bold;
	text-decoration:none;
	color:#aaa;
	border-bottom: 4px solid #aaa;
}
ul.quicktabs_tabs a:hover {
	color: #027AC6 !important;
	border-bottom: 4px solid #027AC6 !important;
}
ul.quicktabs_tabs li {
	padding: 2px 5px;
	margin: 0 3px 0 0;
	position: relative;
	}
ul.quicktabs_tabs li:hover {
	}
ul.quicktabs_tabs li.active a {
	color: #027AC6;
	border-bottom: 4px solid #027AC6;
}
div.quicktabs_main {
	border-left: 0;
	border-right: 0;
}

/* rows */
.quicktabs_tabpage .block {
	margin-bottom: 0;
	}
.views-row label {
	font-weight: bold;
	}

.field-content p {
	margin-top: 0;
	}


/*//	=FOOTER */

#footer-group-wrapper {
	margin-top: 1em;
	padding: 2em 0;
	background: #24211e;
	border-top: 1px solid #000;
	color: #fff;
	}
#footer-group-inner .block {
	}
#footer-group-inner h2 {
	margin: 0 0 5px 0;
	font-size: 18px;
	text-transform: uppercase;
	}

/* not yet sure how to get the theme blocks to
		not inherit the column width */
#footer_left .block {
	width: 360px !important;
	}

/* organizations */
.view-organizations .views-row {
	padding: 4px 0;
	border-bottom: 1px solid #443E39;
	}

/* links */
ul.menu {
	margin: 0;
	}
ul.menu li {
	list-style-type: none;
	list-style-image: none;
	}
ul.menu a {
	display: block;
	padding: 3px 0;
	border-bottom: 1px solid #443E39;
	}

/* ads */
#footer-group-inner img {
	margin: 8px 0;
	}

/* messages */
.footer-message-wrapper {
	background: #24211e;
	}
.footer-message {
	border: 0;
	padding: 0;
	}
